<div
  class="hero"
  id="hero"
  appScrollReveal
  [threshold]="0.15"
  rootMargin="0px 0px -100px 0px"
  [triggerOnce]="true"
  data-scroll-reveal
>
  <div class="hero-container container">
    <div class="hero-container__pill">
      <span class="indicator"></span>

      <div class="text">Remote • UTC+2 • Available immediately</div>
    </div>

    <h5 class="hero-container__name">William Barents</h5>

    <h1 class="hero-container__title">Senior Frontend Engineer</h1>

    <ul class="hero-container__stack">
      <li class="stack main">Angular</li>
      <li class="seperator">·</li>
      <li class="stack">TypeScript</li>
      <li class="seperator">·</li>
      <li class="stack">React</li>
    </ul>

    <p class="hero-container__text">
      Designing and building scalable frontend systems for SaaS and data-driven
      products
    </p>

    <div class="hero-container__cta">
      <a href="#" class="cta primary-btn"
        ><img
          src="./../../../assets/icons/download-icon-background.png"
          alt="Download Icon"
          class="cta-icon"
        />
        <span class="cta-text">Download CV</span></a
      >

      <a href="#" class="cta secondary-btn"
        ><img
          src="./../../../assets/icons/email-icon.png"
          alt="Email Icon"
          class="cta-icon"
        />
        <span class="cta-text">Contact</span></a
      >
    </div>
  </div>
</div>
