<div
  class="hero"
  id="hero"
  appScrollReveal
  [threshold]="0.15"
  rootMargin="0px 0px -100px 0px"
  [triggerOnce]="true"
  data-scroll-reveal
>
  <div class="hero-container container">
    <div class="hero-container__pill">
      <span class="indicator"></span>

      <div class="text">Remote • UTC+2 • Available immediately</div>
    </div>

    <h5 class="hero-container__name">William Barents</h5>

    <h1 class="hero-container__title">Senior Frontend Systems Engineer</h1>

    <ul class="hero-container__stack">
      <li class="stack main">Angular</li>
      <li class="seperator">·</li>
      <li class="stack">TypeScript</li>
      <li class="seperator">·</li>
      <li class="stack">React</li>
      <li class="seperator">·</li>
      <li class="stack">Firebase</li>
    </ul>

    <p class="hero-container__text">
      Designing secure, multi-tenant SaaS architectures and real-time data
      systems
    </p>

    <div class="hero-container__cta">
      <!-- <a
        href="./../../../assets/docs/2026-05-12_CV_William_Barents.pdf"
        class="cta primary-btn"
        download
        rel="noopener noreferrer"
        ><img
          src="./../../../assets/icons/download-icon-background.png"
          alt="Download Icon"
          class="cta-icon"
        />
        <span class="cta-text">Download CV</span></a
      > -->

      <a href="mailto:wbarents84@gmail.com" class="cta secondary-btn"
        ><img
          src="./../../../assets/icons/email-icon.png"
          alt="Email Icon"
          class="cta-icon"
        />
        <span class="cta-text">Contact</span></a
      >
    </div>
  </div>
</div>
