.about {
  &-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--space-4xl) var(--space-lg);

    &__label {
      margin-bottom: var(--space-2xl);
      font-size: var(--font-size-xs);
      line-height: var(--space-md);
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: hsl(var(--primary));
    }

    &__main,
    &__secondary {
      max-width: 80%;
    }

    &__main {
      font-size: var(--font-size-xl);
      font-weight: 500;
      margin-bottom: var(--space-lg);

      span {
        color: hsl(var(--primary));
      }
    }

    &__secondary {
      font-size: var(--font-size-md);
    }
  }
}

@media screen and (max-width: 574px) {
  .about {
    &-container {
      &__label {
        font-size: var(--font-size-xs);
      }

      &__main,
      &__secondary {
        max-width: 100%;
      }

      &__main {
        font-size: var(--font-size-lg);
      }

      &__secondary {
        font-size: var(--space-md);
      }
    }
  }
}
